# Игнорировать файлы сборки
/target/
*.class

# Игнорировать файлы и папки IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Игнорировать файлы Maven
/.mvn/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
release.properties

# Игнорировать логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Игнорировать файлы настроек операционной системы Windows
Thumbs.db
Desktop.ini

# Игнорировать локальные среды и конфигурации
/.settings/
/.vscode/
/.DS_Store
